body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("./DSCF0515.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* đảm bảo chiều cao tối thiểu bằng chiều cao màn hình */
  margin: 0;
  padding: 20px;
  margin: 0;
}
body::-webkit-scrollbar {
  /* Chrome, Safari */
  display: none;
}
.container {
  max-width: 1000px;
  /* max-height: 100vh; */
  overflow-y: auto;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #d4d4d4;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  /* Chrome, Safari */
  display: none;
}
.section::-webkit-scrollbar {
  /* Chrome, Safari */
  display: none;
}
.section {
  /* Xóa 2 dòng sau: */
  /* max-height: 80vh; */
  /* overflow-y: auto; */

  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

h1,
h2 {
  text-align: center;
  color: #2c3e50;
}
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.box {
  border: 1px solid #cccccc;
  border-radius: 14px;
  padding: 20px;
  background: #fdfefe;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.box h3,
.only {
  text-align: center;
  margin-bottom: 15px;
  color: #16a085;
}
.contact {
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
  color: #e74c3c;
}
ul {
  padding-left: 20px;
  margin: 0;
}
li {
  margin-bottom: 8px;
  color: #333;
}
.profile-photo {
  text-align: center;
  margin-top: 20px;
}

.profile-photo img {
  width: 270px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.profile-photo img:hover {
  transform: scale(1.05);
}

.download-text {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

@media screen and (max-width: 800px) {
  .content_all_box {
    margin-top: 0;
  }

  .content_all_box {
    min-width: 600px;
  }
}
